

.register {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 35vh;
    font-family: sans-serif;
}
.left-side{
    border-radius: 5px, 5px, 2px #333;
    display: block;
    position: relative;
    z-index: 10;
}
.order-window{
    transform: translate(100px, 380px);
    background-color: aqua;
    height: 35vh;
    overflow-y: scroll;
    border: 0;
    padding: 0;
    margin: 0;
}


